---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Tooltips } from 'astro-tooltips';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="header">
			<div class="header-left">
				<p class="header-left-title">Zac<span class="header-left-role">, 0z.gg</span></p>
			</div>
		</div>
		<div class="card-grid">
			<div class="card-hello">
				<img src="/public/assets/images/home-background-shortish.png" alt="Hello" class="card-hello-background" />
				<div class="card-hello-header">
					<div class="card-hello-header-left">
						<img class="card-hello-header-left-image" src="https://avatars.githubusercontent.com/u/70297870?v=4" alt="Zac" />
						<div class="card-hello-header-left-text">
							<h3 class="card-hello-header-left-text-head">Hey, I'm <span class="text-gradient">Zac</span></h3>
							<p class="card-hello-header-left-text-sub">Full Stack Developer</p>
						</div>
					</div>
					<div class="card-hello-header-right">
						<a class="card-hello-header-right-social github" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer">
							<!-- <a class="card-hello-header-right-social-link" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer"> -->
								<!-- <svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg> -->
								<svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><g data-name="Layer 2"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M12 1A10.89 10.89 0 0 0 1 11.77 10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77 10.89 10.89 0 0 0 12 1" data-name="github"/></g></svg>
							<!-- </a> -->
						</a>
						<a class="card-hello-header-right-social linkedin" href="https://linkedin.com/in/zachary-rosca-halmagean" target="_blank" rel="noopener noreferrer">
							<!-- <a class="card-hello-header-right-social-link" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer"> -->
								<!-- <svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg> -->
								<svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><g data-name="Layer 2"><g data-name="linkedin"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M15.15 8.4a5.83 5.83 0 0 0-5.85 5.82v5.88a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a1.94 1.94 0 0 1 2.15-1.93 2 2 0 0 1 1.75 2v5.81a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a5.83 5.83 0 0 0-5.85-5.82z"/><rect x="3" y="9.3" width="4.5" height="11.7" rx=".9" ry=".9"/><circle cx="5.25" cy="5.25" r="2.25"/></g></g></svg>
							<!-- </a> -->
						</a>
					</div>
				</div>
				<h1 class="card-hello-title">Infrastructure & Data <span class="text-gradient">Enthusiast</span></h1>
				<!-- <h1 class="card-hello-title">Passionate About <span class="text-gradient">Infrastructure</span></h1> -->
				<p class="card-hello-desc">I'm a junior in high school passionate about using technology to create social good through remarkable digital experiences.</p>
				<!-- <p class="card-hello-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
			</div>
			<div class="card-location">
				<div class="card-status" />
				<img class="card-location-img" src="https://avatars.githubusercontent.com/u/70297870?v=4" alt="Picture of me on a map of my general location" />
				<p class="card-location-text">📍 Houston, TX</p>
			</div>
			<div class="card-currently">
				<h1 class="card-currently-title">Currently, I'm working on <br /><span class="card-currently-title-emphasis">Veer</span></h1>
				<p class="card-currently-desc">Leveraging <span class="card-currently-desc-emphasis">esports</span> to build perfomant & scalable applications used by {/* empowering/and empower (instead of 'used by') */} <span class="card-currently-desc-emphasis">hundreds of thousands of gamers</span>.</p>
				<img class="card-currently-background lazy-image" height="1" width="1" src="/public/assets/images/currently-card-background.png" alt="Glare over the card explaining what I'm currently working on" />
				<div class="card-currently-shapes">
					<div class="card-currently-shape shape-1">
						<img height="1" width="1" class="card-currently-shape-img tp" src="https://i.imgur.com/L444V1h.png" alt="Twitch Payouts Logo" />
					</div>
					<div class="card-currently-shape shape-2">
						<svg class="card-currently-shape-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.37 189.2" ><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M15.71,125.15c-1.33-9.63-2.68-19.13-4-28.64C7.9,67.84,4.11,39.16.21,10.49-.77,3.31,1.65.25,9,.15Q17.76,0,26.49.15c6.94.1,11.36,4,12.06,10.73Q43.05,54,47.39,97.25c.13,1.27.3,3-.38,3.81-8,9.89-16.18,19.51-28.81,23.74A13.54,13.54,0,0,1,15.71,125.15Z"/><path class="cls-1" d="M82.32,128.26c-1.45,11-2.75,21.2-4.11,31.35-.82,6.1-1.59,12.22-2.61,18.29-1.28,7.64-5.61,11.21-13.41,11.26q-13,.08-26,0c-7.92-.06-12.53-4.35-13.57-12.27-1.4-10.68-2.88-21.36-4.38-32.42C41.59,146.7,62.48,141.21,82.32,128.26Z"/><path class="cls-2" d="M55.28,88.71c1.27-12.88,2.51-25.76,3.8-38.64,1.2-11.93,2.58-23.85,3.61-35.8C63.44,5.56,66.5-.82,77.74.09c4,.32,8-.06,12,.11,6.47.28,9.31,3.73,8.49,10.17a15.08,15.08,0,0,1-1.14,4.31C85.33,40.45,72.22,65.46,55.28,88.71Z"/></g></g></svg>
					</div>
					<div class="card-currently-shape shape-3" />
				</div>
			</div>
			<div class="card-technologies">
				<div class="card-technologies-header">
					<h1 class="card-technologies-title"><span class="card-technologies-title-emphasis">How</span> I Do It</h1>
					<p class="card-technologies-desc">By using new <span class="card-technologies-desc-emphasis">bleeding-edge</span> technologies and languages, I { /* can */ } stay at the <span class="card-technologies-desc-emphasis">forefront {/* cutting edge (instead of forefront) */} of development{/* innovation (instead of development (maybe?)) */ }</span>.</p>
				</div>
				<div class="card-technologies-items">
					<div class="card-technologies-item typescript" title="TypeScript" data-tooltip-theme="sleek">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>TypeScript</title><path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/></svg>
						<!-- <p class="card-technologies-item-text">TypeScript</p> -->
					</div>
					<div class="card-technologies-item docker" title="Docker">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Docker</title><path d="M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.184-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.184-.186h-2.12a.186.186 0 00-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 00-.75.748 11.376 11.376 0 00.692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 003.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288Z"/></svg>
					</div>
					<div class="card-technologies-item nextjs" title="NextJS">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Next.js</title><path d="M11.5725 0c-.1763 0-.3098.0013-.3584.0067-.0516.0053-.2159.021-.3636.0328-3.4088.3073-6.6017 2.1463-8.624 4.9728C1.1004 6.584.3802 8.3666.1082 10.255c-.0962.659-.108.8537-.108 1.7474s.012 1.0884.108 1.7476c.652 4.506 3.8591 8.2919 8.2087 9.6945.7789.2511 1.6.4223 2.5337.5255.3636.04 1.9354.04 2.299 0 1.6117-.1783 2.9772-.577 4.3237-1.2643.2065-.1056.2464-.1337.2183-.1573-.0188-.0139-.8987-1.1938-1.9543-2.62l-1.919-2.592-2.4047-3.5583c-1.3231-1.9564-2.4117-3.556-2.4211-3.556-.0094-.0026-.0187 1.5787-.0235 3.509-.0067 3.3802-.0093 3.5162-.0516 3.596-.061.115-.108.1618-.2064.2134-.075.0374-.1408.0445-.495.0445h-.406l-.1078-.068a.4383.4383 0 01-.1572-.1712l-.0493-.1056.0053-4.703.0067-4.7054.0726-.0915c.0376-.0493.1174-.1125.1736-.143.0962-.047.1338-.0517.5396-.0517.4787 0 .5584.0187.6827.1547.0353.0377 1.3373 1.9987 2.895 4.3608a10760.433 10760.433 0 004.7344 7.1706l1.9002 2.8782.096-.0633c.8518-.5536 1.7525-1.3418 2.4657-2.1627 1.5179-1.7429 2.4963-3.868 2.8247-6.134.0961-.6591.1078-.854.1078-1.7475 0-.8937-.012-1.0884-.1078-1.7476-.6522-4.506-3.8592-8.2919-8.2087-9.6945-.7672-.2487-1.5836-.42-2.4985-.5232-.169-.0176-1.0835-.0366-1.6123-.037zm4.0685 7.217c.3473 0 .4082.0053.4857.047.1127.0562.204.1642.237.2767.0186.061.0234 1.3653.0186 4.3044l-.0067 4.2175-.7436-1.14-.7461-1.14v-3.066c0-1.982.0093-3.0963.0234-3.1502.0375-.1313.1196-.2346.2323-.2955.0961-.0494.1313-.054.4997-.054z"/></svg>
					</div>
					<div class="card-technologies-item redis" title="Redis">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Redis</title><path d="M10.5 2.661l.54.997-1.797.644 2.409.218.748 1.246.467-1.121 2.077-.208-1.61-.613.426-1.017-1.578.519zm6.905 2.077L13.76 6.182l3.292 1.298.353-.146 3.293-1.298zm-10.51.312a2.97 1.153 0 0 0-2.97 1.152 2.97 1.153 0 0 0 2.97 1.153 2.97 1.153 0 0 0 2.97-1.153 2.97 1.153 0 0 0-2.97-1.152zM24 6.805s-8.983 4.278-10.395 4.953c-1.226.561-1.901.561-3.261.094C8.318 11.022 0 7.241 0 7.241v1.038c0 .24.332.499.966.8 1.277.613 8.34 3.677 9.45 4.206 1.112.53 1.9.54 3.313-.197 1.412-.738 8.049-3.905 9.326-4.57.654-.342.945-.602.945-.84zm-10.042.602L8.39 8.26l3.884 1.61zM24 10.637s-8.983 4.279-10.395 4.954c-1.226.56-1.901.56-3.261.093C8.318 14.854 0 11.074 0 11.074v1.038c0 .238.332.498.966.8 1.277.612 8.34 3.676 9.45 4.205 1.112.53 1.9.54 3.313-.197 1.412-.737 8.049-3.905 9.326-4.57.654-.332.945-.602.945-.84zm0 3.842l-10.395 4.954c-1.226.56-1.901.56-3.261.094C8.318 18.696 0 14.916 0 14.916v1.038c0 .239.332.499.966.8 1.277.613 8.34 3.676 9.45 4.206 1.112.53 1.9.54 3.313-.198 1.412-.737 8.049-3.904 9.326-4.569.654-.343.945-.613.945-.841z"/></svg>
					</div>
					<div class="card-technologies-item postgresql" title="PostgreSQL">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>PostgreSQL</title><path d="M23.5594 14.7228a.5269.5269 0 0 0-.0563-.1191c-.139-.2632-.4768-.3418-1.0074-.2321-1.6533.3411-2.2935.1312-2.5256-.0191 1.342-2.0482 2.445-4.522 3.0411-6.8297.2714-1.0507.7982-3.5237.1222-4.7316a1.5641 1.5641 0 0 0-.1509-.235C21.6931.9086 19.8007.0248 17.5099.0005c-1.4947-.0158-2.7705.3461-3.1161.4794a9.449 9.449 0 0 0-.5159-.0816 8.044 8.044 0 0 0-1.3114-.1278c-1.1822-.0184-2.2038.2642-3.0498.8406-.8573-.3211-4.7888-1.645-7.2219.0788C.9359 2.1526.3086 3.8733.4302 6.3043c.0409.818.5069 3.334 1.2423 5.7436.4598 1.5065.9387 2.7019 1.4334 3.582.553.9942 1.1259 1.5933 1.7143 1.7895.4474.1491 1.1327.1441 1.8581-.7279.8012-.9635 1.5903-1.8258 1.9446-2.2069.4351.2355.9064.3625 1.39.3772a.0569.0569 0 0 0 .0004.0041 11.0312 11.0312 0 0 0-.2472.3054c-.3389.4302-.4094.5197-1.5002.7443-.3102.064-1.1344.2339-1.1464.8115-.0025.1224.0329.2309.0919.3268.2269.4231.9216.6097 1.015.6331 1.3345.3335 2.5044.092 3.3714-.6787-.017 2.231.0775 4.4174.3454 5.0874.2212.5529.7618 1.9045 2.4692 1.9043.2505 0 .5263-.0291.8296-.0941 1.7819-.3821 2.5557-1.1696 2.855-2.9059.1503-.8707.4016-2.8753.5388-4.1012.0169-.0703.0357-.1207.057-.1362.0007-.0005.0697-.0471.4272.0307a.3673.3673 0 0 0 .0443.0068l.2539.0223.0149.001c.8468.0384 1.9114-.1426 2.5312-.4308.6438-.2988 1.8057-1.0323 1.5951-1.6698zM2.371 11.8765c-.7435-2.4358-1.1779-4.8851-1.2123-5.5719-.1086-2.1714.4171-3.6829 1.5623-4.4927 1.8367-1.2986 4.8398-.5408 6.108-.13-.0032.0032-.0066.0061-.0098.0094-2.0238 2.044-1.9758 5.536-1.9708 5.7495-.0002.0823.0066.1989.0162.3593.0348.5873.0996 1.6804-.0735 2.9184-.1609 1.1504.1937 2.2764.9728 3.0892.0806.0841.1648.1631.2518.2374-.3468.3714-1.1004 1.1926-1.9025 2.1576-.5677.6825-.9597.5517-1.0886.5087-.3919-.1307-.813-.5871-1.2381-1.3223-.4796-.839-.9635-2.0317-1.4155-3.5126zm6.0072 5.0871c-.1711-.0428-.3271-.1132-.4322-.1772.0889-.0394.2374-.0902.4833-.1409 1.2833-.2641 1.4815-.4506 1.9143-1.0002.0992-.126.2116-.2687.3673-.4426a.3549.3549 0 0 0 .0737-.1298c.1708-.1513.2724-.1099.4369-.0417.156.0646.3078.26.3695.4752.0291.1016.0619.2945-.0452.4444-.9043 1.2658-2.2216 1.2494-3.1676 1.0128zm2.094-3.988-.0525.141c-.133.3566-.2567.6881-.3334 1.003-.6674-.0021-1.3168-.2872-1.8105-.8024-.6279-.6551-.9131-1.5664-.7825-2.5004.1828-1.3079.1153-2.4468.079-3.0586-.005-.0857-.0095-.1607-.0122-.2199.2957-.2621 1.6659-.9962 2.6429-.7724.4459.1022.7176.4057.8305.928.5846 2.7038.0774 3.8307-.3302 4.7363-.084.1866-.1633.3629-.2311.5454zm7.3637 4.5725c-.0169.1768-.0358.376-.0618.5959l-.146.4383a.3547.3547 0 0 0-.0182.1077c-.0059.4747-.054.6489-.115.8693-.0634.2292-.1353.4891-.1794 1.0575-.11 1.4143-.8782 2.2267-2.4172 2.5565-1.5155.3251-1.7843-.4968-2.0212-1.2217a6.5824 6.5824 0 0 0-.0769-.2266c-.2154-.5858-.1911-1.4119-.1574-2.5551.0165-.5612-.0249-1.9013-.3302-2.6462.0044-.2932.0106-.5909.019-.8918a.3529.3529 0 0 0-.0153-.1126 1.4927 1.4927 0 0 0-.0439-.208c-.1226-.4283-.4213-.7866-.7797-.9351-.1424-.059-.4038-.1672-.7178-.0869.067-.276.1831-.5875.309-.9249l.0529-.142c.0595-.16.134-.3257.213-.5012.4265-.9476 1.0106-2.2453.3766-5.1772-.2374-1.0981-1.0304-1.6343-2.2324-1.5098-.7207.0746-1.3799.3654-1.7088.5321a5.6716 5.6716 0 0 0-.1958.1041c.0918-1.1064.4386-3.1741 1.7357-4.4823a4.0306 4.0306 0 0 1 .3033-.276.3532.3532 0 0 0 .1447-.0644c.7524-.5706 1.6945-.8506 2.802-.8325.4091.0067.8017.0339 1.1742.081 1.939.3544 3.2439 1.4468 4.0359 2.3827.8143.9623 1.2552 1.9315 1.4312 2.4543-1.3232-.1346-2.2234.1268-2.6797.779-.9926 1.4189.543 4.1729 1.2811 5.4964.1353.2426.2522.4522.2889.5413.2403.5825.5515.9713.7787 1.2552.0696.087.1372.1714.1885.245-.4008.1155-1.1208.3825-1.0552 1.717-.0123.1563-.0423.4469-.0834.8148-.0461.2077-.0702.4603-.0994.7662zm.8905-1.6211c-.0405-.8316.2691-.9185.5967-1.0105a2.8566 2.8566 0 0 0 .135-.0406 1.202 1.202 0 0 0 .1342.103c.5703.3765 1.5823.4213 3.0068.1344-.2016.1769-.5189.3994-.9533.6011-.4098.1903-1.0957.333-1.7473.3636-.7197.0336-1.0859-.0807-1.1721-.151zm.5695-9.2712c-.0059.3508-.0542.6692-.1054 1.0017-.055.3576-.112.7274-.1264 1.1762-.0142.4368.0404.8909.0932 1.3301.1066.887.216 1.8003-.2075 2.7014a3.5272 3.5272 0 0 1-.1876-.3856c-.0527-.1276-.1669-.3326-.3251-.6162-.6156-1.1041-2.0574-3.6896-1.3193-4.7446.3795-.5427 1.3408-.5661 2.1781-.463zm.2284 7.0137a12.3762 12.3762 0 0 0-.0853-.1074l-.0355-.0444c.7262-1.1995.5842-2.3862.4578-3.4385-.0519-.4318-.1009-.8396-.0885-1.2226.0129-.4061.0666-.7543.1185-1.0911.0639-.415.1288-.8443.1109-1.3505.0134-.0531.0188-.1158.0118-.1902-.0457-.4855-.5999-1.938-1.7294-3.253-.6076-.7073-1.4896-1.4972-2.6889-2.0395.5251-.1066 1.2328-.2035 2.0244-.1859 2.0515.0456 3.6746.8135 4.8242 2.2824a.908.908 0 0 1 .0667.1002c.7231 1.3556-.2762 6.2751-2.9867 10.5405zm-8.8166-6.1162c-.025.1794-.3089.4225-.6211.4225a.5821.5821 0 0 1-.0809-.0056c-.1873-.026-.3765-.144-.5059-.3156-.0458-.0605-.1203-.178-.1055-.2844.0055-.0401.0261-.0985.0925-.1488.1182-.0894.3518-.1226.6096-.0867.3163.0441.6426.1938.6113.4186zm7.9305-.4114c.0111.0792-.049.201-.1531.3102-.0683.0717-.212.1961-.4079.2232a.5456.5456 0 0 1-.075.0052c-.2935 0-.5414-.2344-.5607-.3717-.024-.1765.2641-.3106.5611-.352.297-.0414.6111.0088.6356.1851z"/></svg>
					</div>
					<div class="card-technologies-item react" title="React">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>React</title><path d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.41 0-.783.093-1.106.278-1.375.793-1.683 3.264-.973 6.365C1.98 8.917 0 10.42 0 12.004c0 1.59 1.99 3.097 5.043 4.03-.704 3.113-.39 5.588.988 6.38.32.187.69.275 1.102.275 1.345 0 3.107-.96 4.888-2.624 1.78 1.654 3.542 2.603 4.887 2.603.41 0 .783-.09 1.106-.275 1.374-.792 1.683-3.263.973-6.365C22.02 15.096 24 13.59 24 12.004c0-1.59-1.99-3.097-5.043-4.032.704-3.11.39-5.587-.988-6.38-.318-.184-.688-.277-1.092-.278zm-.005 1.09v.006c.225 0 .406.044.558.127.666.382.955 1.835.73 3.704-.054.46-.142.945-.25 1.44-.96-.236-2.006-.417-3.107-.534-.66-.905-1.345-1.727-2.035-2.447 1.592-1.48 3.087-2.292 4.105-2.295zm-9.77.02c1.012 0 2.514.808 4.11 2.28-.686.72-1.37 1.537-2.02 2.442-1.107.117-2.154.298-3.113.538-.112-.49-.195-.964-.254-1.42-.23-1.868.054-3.32.714-3.707.19-.09.4-.127.563-.132zm4.882 3.05c.455.468.91.992 1.36 1.564-.44-.02-.89-.034-1.345-.034-.46 0-.915.01-1.36.034.44-.572.895-1.096 1.345-1.565zM12 8.1c.74 0 1.477.034 2.202.093.406.582.802 1.203 1.183 1.86.372.64.71 1.29 1.018 1.946-.308.655-.646 1.31-1.013 1.95-.38.66-.773 1.288-1.18 1.87-.728.063-1.466.098-2.21.098-.74 0-1.477-.035-2.202-.093-.406-.582-.802-1.204-1.183-1.86-.372-.64-.71-1.29-1.018-1.946.303-.657.646-1.313 1.013-1.954.38-.66.773-1.286 1.18-1.868.728-.064 1.466-.098 2.21-.098zm-3.635.254c-.24.377-.48.763-.704 1.16-.225.39-.435.782-.635 1.174-.265-.656-.49-1.31-.676-1.947.64-.15 1.315-.283 2.015-.386zm7.26 0c.695.103 1.365.23 2.006.387-.18.632-.405 1.282-.66 1.933-.2-.39-.41-.783-.64-1.174-.225-.392-.465-.774-.705-1.146zm3.063.675c.484.15.944.317 1.375.498 1.732.74 2.852 1.708 2.852 2.476-.005.768-1.125 1.74-2.857 2.475-.42.18-.88.342-1.355.493-.28-.958-.646-1.956-1.1-2.98.45-1.017.81-2.01 1.085-2.964zm-13.395.004c.278.96.645 1.957 1.1 2.98-.45 1.017-.812 2.01-1.086 2.964-.484-.15-.944-.318-1.37-.5-1.732-.737-2.852-1.706-2.852-2.474 0-.768 1.12-1.742 2.852-2.476.42-.18.88-.342 1.356-.494zm11.678 4.28c.265.657.49 1.312.676 1.948-.64.157-1.316.29-2.016.39.24-.375.48-.762.705-1.158.225-.39.435-.788.636-1.18zm-9.945.02c.2.392.41.783.64 1.175.23.39.465.772.705 1.143-.695-.102-1.365-.23-2.006-.386.18-.63.406-1.282.66-1.933zM17.92 16.32c.112.493.2.968.254 1.423.23 1.868-.054 3.32-.714 3.708-.147.09-.338.128-.563.128-1.012 0-2.514-.807-4.11-2.28.686-.72 1.37-1.536 2.02-2.44 1.107-.118 2.154-.3 3.113-.54zm-11.83.01c.96.234 2.006.415 3.107.532.66.905 1.345 1.727 2.035 2.446-1.595 1.483-3.092 2.295-4.11 2.295-.22-.005-.406-.05-.553-.132-.666-.38-.955-1.834-.73-3.703.054-.46.142-.944.25-1.438zm4.56.64c.44.02.89.034 1.345.034.46 0 .915-.01 1.36-.034-.44.572-.895 1.095-1.345 1.565-.455-.47-.91-.993-1.36-1.565z"/></svg>
					</div>
					<div class="card-technologies-item nodejs" title="NodeJS">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Node.js</title><path d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z"/></svg>
					</div>
					<div class="card-technologies-item css" title="CSS">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>CSS3</title><path d="M1.5 0h21l-1.91 21.563L11.977 24l-8.565-2.438L1.5 0zm17.09 4.413L5.41 4.41l.213 2.622 10.125.002-.255 2.716h-6.64l.24 2.573h6.182l-.366 3.523-2.91.804-2.956-.81-.188-2.11h-2.61l.29 3.855L12 19.288l5.373-1.53L18.59 4.414z"/></svg>
					</div>
					<div class="card-technologies-item javascript" title="JavaScript">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>JavaScript</title><path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z"/></svg>
					</div>
					<div class="card-technologies-item astro" title="Astro">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Astro</title><path d="M16.074 16.86c-.72.616-2.157 1.035-3.812 1.035-2.032 0-3.735-.632-4.187-1.483-.161.488-.198 1.046-.198 1.402 0 0-.106 1.75 1.111 2.968 0-.632.513-1.145 1.145-1.145 1.083 0 1.082.945 1.081 1.712v.069c0 1.164.711 2.161 1.723 2.582a2.347 2.347 0 0 1-.236-1.029c0-1.11.652-1.523 1.41-2.003.602-.383 1.272-.807 1.733-1.66a3.129 3.129 0 0 0 .378-1.494 3.14 3.14 0 0 0-.148-.954zM15.551.6c.196.244.296.572.496 1.229l4.368 14.347a18.18 18.18 0 0 0-5.222-1.768L12.35 4.8a.37.37 0 0 0-.71.002l-2.81 9.603a18.175 18.175 0 0 0-5.245 1.771L7.974 1.827c.2-.656.3-.984.497-1.227a1.613 1.613 0 0 1 .654-.484C9.415 0 9.757 0 10.443 0h3.135c.686 0 1.03 0 1.32.117A1.614 1.614 0 0 1 15.55.6z"/></svg>
					</div>
					<div class="card-technologies-item gcp" title="Google Cloud">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Google Cloud</title><path d="M12.19 2.38a9.344 9.344 0 0 0-9.234 6.893c.053-.02-.055.013 0 0-3.875 2.551-3.922 8.11-.247 10.941l.006-.007-.007.03a6.717 6.717 0 0 0 4.077 1.356h5.173l.03.03h5.192c6.687.053 9.376-8.605 3.835-12.35a9.365 9.365 0 0 0-2.821-4.552l-.043.043.006-.05A9.344 9.344 0 0 0 12.19 2.38zm-.358 4.146c1.244-.04 2.518.368 3.486 1.15a5.186 5.186 0 0 1 1.862 4.078v.518c3.53-.07 3.53 5.262 0 5.193h-5.193l-.008.009v-.04H6.785a2.59 2.59 0 0 1-1.067-.23h.001a2.597 2.597 0 1 1 3.437-3.437l3.013-3.012A6.747 6.747 0 0 0 8.11 8.24c.018-.01.04-.026.054-.023a5.186 5.186 0 0 1 3.67-1.69z"/></svg>
					</div>
					<div class="card-technologies-item terraform" title="Terraform">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Terraform</title><path d="M1.44 0v7.575l6.561 3.79V3.787zm21.12 4.227l-6.561 3.791v7.574l6.56-3.787zM8.72 4.23v7.575l6.561 3.787V8.018zm0 8.405v7.575L15.28 24v-7.578z"/></svg>
					</div>
					<div class="card-technologies-item expo" title="Expo">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Expo</title><path d="M0 20.084c.043.53.23 1.063.718 1.778.58.849 1.576 1.315 2.303.567.49-.505 5.794-9.776 8.35-13.29a.761.761 0 011.248 0c2.556 3.514 7.86 12.785 8.35 13.29.727.748 1.723.282 2.303-.567.57-.835.728-1.42.728-2.046 0-.426-8.26-15.798-9.092-17.078-.8-1.23-1.044-1.498-2.397-1.542h-1.032c-1.353.044-1.597.311-2.398 1.542C8.267 3.991.33 18.758 0 19.77Z"/></svg>
					</div>
					<!-- <div class="card-technologies-item gcr">
						<svg class="card-technologies-item-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><defs><style>.cls-1{fill:#fff;}.cls-1,.cls-2{fill-rule:evenodd;}.cls-2{fill:#fff;}</style></defs><title>Icon_24px_CloudRun_Color</title><g data-name="Product Icons"><g ><polygon class="cls-1" points="8.9 2.63 12.02 12 21.38 12 8.9 2.63"/><polygon class="cls-2" points="21.38 12 12.02 12 8.9 21.38 21.38 12"/><polygon class="cls-2" points="3.44 21.38 6.57 19.81 8.9 12 5.78 12 3.44 21.38"/><polygon class="cls-1" points="3.44 2.63 5.78 12 8.9 12 6.57 4.19 3.44 2.63"/></g></g></svg>
					</div> -->
					<div class="card-technologies-item python" title="Python">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Python</title><path d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08z"/></svg>
					</div>
					<div class="card-technologies-item flask" title="Flask">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Flask</title><path d="M7.172 20.36c-.914-.72-1.89-1.41-2.556-2.38-1.402-1.712-2.482-3.694-3.22-5.777-.446-1.355-.6-2.808-1.174-4.11-.602-.944.103-1.978 1.138-2.28.46-.087 1.272-.522.293-.211-.878.644-.963-.585-.063-.662.615-.082.84-.585.63-1.037-.66-.43 1.6-.903.463-1.544C1.5 1.08 4.34.835 3.64 2.285 3.473 3.4 5.624 2.08 5.125 3.368c.507.619 1.9.14 1.865 1.009.74.05.993.672 1.687.72.72.325 2.022.58 2.266 1.39-.713.566-2.364-1.165-2.443.398.215 2.31.16 4.689 1.004 6.888.4 1.332 1.37 2.38 2.244 3.418.837 1.016 1.971 1.73 3.127 2.333 1.014.478 2.107.795 3.213.994.448-.343 1.24-1.617 1.938-1.08.033.604-1.388 1.263-.067 1.196.776-.234 1.314.6 1.953-.152.588.697 2.446-.446 2.027.98-.566.364-1.392.144-1.959.646-.935-.467-1.68.418-2.715.306a19.86 19.86 0 01-3.484.29c-1.912-.15-3.865-.214-5.684-.88-1.024-.297-2.023-.881-2.924-1.464zm1.615.7c1 .432 1.978.888 3.074 1.026 1.74.24 3.537.614 5.283.274-.79-.357-1.608.14-2.395-.255-.944.203-1.957-.052-2.917-.177-1.092-.486-2.27-.82-3.291-1.452-1.277-.466.66.598 1.005.685.798.453-.877-.233-1.114-.421-.668-.375-.754-.297-.066.084.139.08.276.166.42.235zm-1.904-1.346c.97.359-.004-.682-.45-.622-.196-.341-.751-.557-.36-.74-.704.244-.737-.93-1.07-.763-.744-.235-.29-1.07-1.176-1.58-.081-.54-.882-1.008-1.138-1.822-.113-.416-.905-1.613-.418-.5.414 1.072 1.143 1.99 1.75 2.907.47.873 1.027 1.786 1.885 2.33.29.278.568.703.977.79zM4.09 16.647c.033-.146.177.317 0 0zm3.954 3.497c.215-.096-.31-.12 0 0zm.526.192c-.054-.265-.24.148 0 0zm.66.275c.312-.3-.484-.188 0 0zm1.127.63c.191-.282-.61-.107 0 0zM8.19 19.728c.487-.315-.63-.004 0 0zm.494.246c-.014-.166-.176.075 0 0zm2.47 1.542c.397.25 2.32.55 1.115.103-.2.042-2.23-.574-1.116-.103zm-3.921-3.054c-.04-.167-.616-.185 0 0zm1.15.67c.3-.21-.621-.16 0 0zm.966.593c.43-.162-.696-.163 0 0zm-2.584-1.773c.466.358 1.88.046.714-.213-.53-.283-1.727-.476-.912.17zm3.24 1.978c.193-.33-.815-.19 0 0zm-.984-.783c1.14.323-.958-.72-.281-.118l.15.068.13.05zm1.973 1.14c1.08.01-.975-.147 0 0zm-4.644-2.96c-.042-.2-.266.018 0 0zm6.47 3.985c.028-.363-.353.27 0 0zm-4.63-2.856c-.064-.191-.336-.008 0 0zm-1.738-1.254c.62-.037-.848-.273 0 0zm-2.06-1.332c-.077-.297-.674-.534 0 0zm5.407 3.435c-.114-.13-.054.028 0 0zm3.366 2.065c-.01-.197-.183.075 0 0zm-3.664-2.373c.06-.255-.528-.077 0 0zm-2.506-1.592c.46-.05-.74-.311 0 0zm4.241 2.637c.718-.285-.7-.14 0 0zM9.03 18.545c.827.106-.985-.563-.181-.06zm2.876 1.768c.773-.462.518 1.082 1.311.13.782-.57-.675.707.29.103.696-.467 1.726.22 2.376.445.468-.023.923.405 1.403.145.923-.25-1.806-.37-1.09-.81-.845.245-1.47-.294-1.885-.835-.948-.22-2.044-.703-2.517-1.542-.192-.315.28.044-.166-.47-.57-.508-.856-1.085-1.24-1.702-.457-.244-.51-.963-.557-.024.004-.593-.553-.992-.688-.826-.002-.571.595-.285.176-.707-.09-.592-.386-1.21-.475-1.877-.138-.322-.02-1.011-.473-.282-.165.77-.055-.947.202-.38.337-.58-.12-.51-.14-.43.22-.488.14-1.18-.057-.916.117-.517.185-1.902-.175-1.656.218-.54.414-2.473-.534-1.736-.384.005-1.048.14-1.363.296.986.543-.1.196-.5.11-.052.502-.45.285-.946.29.793.098-.386.81-.841.534-.59.282.51.987.012 1.205.06.328-.905-.12-.83.64-.573-.241-.078.9.209.514.975.264.686.866.71 1.437-.158.333-.784-.783-.14-.731-.507-.827-.561-.3-.984.085-.1.028 1.079.547.34.803.65.1.668.67.8 1.03.39.407.31-.45.779.04-.296-.436-1.567-1.228-.544-.974-.005-.44-.185-.793.129-.784.31-.562-.325 1.387.375.672.193-.085.24-.563.59.045.505.498.182.858-.531.403.127.433.954.587.799 1.265.165.595.395.376.596.342.158.578.247.153.255-.123.72.155.552.58.778.88.497.224-.712-1.522.142-.526.898.81.337 1.15-.47 1.02.51-.041.675.69 1.313.664.582.277.975 1.34-.027.897-.348-.313-1.58-.7-.573-.104.929.43 1.665.688 2.561 1.227.64.458.918.982 1.16 1.086-.538.257-1.623-.206-.817-.348-.503-.091-1.068-.345-.587.28.41.343 1.45.306 1.637.345-.159.348-.43.376.006.403-.486.26.156.3.201.448zm-.994-2.808c-.296-.31-.373-.89-.053-.385.164.066.525.947.053.385zm3.238 2.057c.185-.011.006.14 0 0zm-3.706-2.816c-.01-.468.107.36 0 0zm-.322-.433c-.372-.72.47.204 0 0zm-3.9-2.692c.219-.06.108.374 0 0zm3.104 1.682c.134-.504.158.424 0 0zm-2.192-1.525c-.155-.278.323.26 0 0zm1.882.604c-.352-.79.25-.432.078.13zM5.77 12.217c-.158-.26-.418-1.02-.334-1.252.076.378.804 1.627.357.518-.494-.93.59.302.702.534.05.23-.305-.063-.064.478-.44-.617-.26.34-.661-.278zm-1.003-.691c.04-.603.23.413 0 0zm.45.155c.216-.455.366.634 0 0zm-1.084-.84c-.374-.37-.644-.713.017-.23.255.01-.566-.778.06-.25.66.12.327 1.082-.077.48zm.57-.015c.217-.215.115.212 0 0zm.35.113c-.328-.617.4.258 0 0zm-.697-.667c-1.086-.966 1.365.506.177.18zm3.11 1.808c-.47-.282-.123-1.984.037-.82.457-.148-.025.6.315.594-.053.473-.206.643-.35.226zm1.15.68c.048-.513.099.35 0 0zm-.2-.198c.054-.22.007.258 0 0zM4.57 9.955c-.697-.963 2.027.973.447.244-.165-.043-.364-.06-.447-.244zm2.216 1.175c-.066-.81.147.134 0 0zm1.682 1.079c.13-.462.01.305 0 0zM4.676 9.587c.415-.088 1.718.729.52.234-.132-.148-.416-.08-.52-.234zm3.56 1.775c.044-.83.248-.495.002.118zM4.985 9.299c.169-.248-.45-1.12.089-.313.232.185.672.31.283.387.61.539-.15.146-.372-.074zm3.075 1.804c.117-.944.103.553 0 0zM4.632 8.427c.129-.055.068.172 0 0zm.802.478c.206-.434.38.483 0 0zm2.263 1.259c-.002-.167.043.242 0 0zm-.131-.29c-.314-.776.292.41 0 0zm-.193-.51c-.053-.32.18.404 0 0zm.314-.51c-.216-.38.272-1.673.326-.87-.227.625-.065.975.093.136.293-.66-.063 1.303-.42.735zm.322-1.923c.094-.115.02.139 0 0zM7.47 17.544c-.128-.111.016.07 0 0zm1.11.56c.615.16.612-.095.055-.17-.3-.28-1.246-.575-.4-.035.057.142.235.139.344.206zM6.389 16.65c.34.253 1.28.719.484.096.269-.312-.514-.478-.254-.686-.66-.404-.52-.368-.058-.356-.794-.354.114-.328.07-.51-.305-.06-1.52-.54-.804.04-.726-.37-.173.138-.392.084-.743-.202.66.565-.118.375.425.337 1.146.864.18.357-.128.183.69.46.892.6zm1.16.667c1.41.454-.691-.556 0 0zm5.94 3.598c.02-.28-.193.24 0 0zm.611.257c.325-.315.013.503.54-.077.005-.415-.017-.66-.606-.156-.162.09-.234.473.066.233zm-9.692-6.087c-.1-.393-.7-.39 0 0zm.652.428c-.242-.402-.864-.364 0 0zm3.71 2.237c.362.32 1.662.236.44.04-.182-.27-1.151-.204-.44-.04zm5.097 3.149c.558-.468-.54.208 0 0zm1.16.796c.003-.15-.24.066 0 0zm.001-.21c.617-.654-.598.039 0 0zM2.805 13.743c-.526-.75-.327-1.088-.835-1.7-.096-.47-.87-1.533-.4-.406.43.659.558 1.679 1.235 2.106zm12.03 7.534c1.135-.734-.466-.32 0 0zm.866.34c.57-.488-.36-.102 0 0zM4.215 14.255c.163-.242-.42-.031 0 0zm11.305 7.129c.551-.355-.126-.3-.1.032zm-7.47-4.71c-.02-.24-.291.02 0 0zm.46.267c-.145-.297-.224.047 0 0zm7.894 4.684c.705-.51-.428-.098-.148.096zm-.27-.13c.574-.482-.607.213 0 0zm1.38.918c.386-.258-.469-.083 0 0zM4.57 14.08c.517.116 2.066 1.274 1.152.08-.468-.138-.187-1.283-.665-1.08.32.535.264.763-.41.426-.845-.413-.474.204-.31.374-.224.052.299.196.233.2zm-2.356-1.86c.092-.383-.853-2.107-.446-.864.146.26.13.754.446.864zm4.324 2.666c-.266-.223-.013-.032 0 0zm.656.152c0-.405-.725-.164 0 0zm5.681 3.583c-.108-.278-.428-.006 0 0zm.273.199c-.04-.155-.157.03 0 0zM15.4 20.24c.216-.16-.27-.02 0 0zM3.39 12.52c.62-.24-.664-.17 0 0zm8.984 5.662c-.007-.401-.395.1 0 0zm-9.23-6.231c.399-.135-.367-.09 0 0zm1.156.56c-.007-.133-.122.05 0 0zm14.09 8.64c.512-.104 1.678.26 1.866-.136-.62-.015-2.15-.438-2.222.1l.136.023.22.013zM4.667 12.603c.009-.407-.317-.015 0 0zM1.63 10.495c-.138-.775-.525-.118 0 0zm.724.182c.009-.25-.663-.224 0 0zm.414.203c-.12-.097-.094.122 0 0zm2.605 1.67c.122-.112-.29-.083 0 0zm-2.88-2.128c-.07-.585-.84-.088 0 0zm-1.486-.964c-.02-.27-.144.102 0 0zm.22-.167c-.035-.32-.19.04 0 0zm1.22.729c.518-.203-.94-.42-.104-.04zm16.334 10.089c.33-.303-.42-.094 0 0zm1.974 1.023c.132-.392-.334.05 0 0zM2.573 9.38c.055-.38-.41.075 0 0zM.837 8.218c-.093-.535-.08-1.474.812-1.156-1.191.236.824 1.48.57.498.5.024.98-.296.716.19.987-.11 1.67-.964 2.624-.845.742-.098 1.554-.172 2.354-.471.658-.048 1.29-.756.93-1.175-.896-.076-1.835.036-2.827.233-1.098.228-2.096.662-3.205.849-1.08.145.217.4-.092.456-.564.196.672.328-.073.534-.46-.088-.94-.246-.743-.73-1.035.133-1.945.563-1.127 1.616h.06zm2.494-1.27c.243-.894 1.3.735.398.118-.108-.08-.285-.146-.398-.12zm.047-.434c.35-.26.186.146 0 0zm.445.008c.032-.411 1.018.218.163.148zm.608-.245c.222-.26.064.23 0 0zm.156-.104c.37-.444 2.095-.283.832-.043-.338-.255-.598.15-.832.043zm2.25-.347c-.055-1.214 1.119.432 0 0zm.64-.004c.233-.612.906-.245.108-.123.017.065-.024.316-.108.123zM2.322 9.067c.697-.427-.741-.37 0 0zm.515.144c.245-.26-.531-.106 0 0zm-1.52-1.08c.399-.305-.471-.116 0 0zm20.602 12.89c.012-.355-.304.16 0 0zm-2.093-1.43c.06-.408-.27.037 0 0zm2.67 1.568c.557 0 1.688-.173.475-.173-.19.03-1.109.024-.476.173zM3.29 8.959c.45-.03.706-.497-.087-.47-1.23-.127 1.084.42-.158.264-.167.11.236.237.245.207zm.398.202c-.048-.29-.14.154 0 0zm.47-1.257c.197-.243-.27-.065 0 0zm-1.5-2.508c.806-.274 1.907-.581 2.287.135-.387-.466-.156-.924.21-.243.516.689.775-.313.438-.545.383.476.819.7.257.03.61-.734-1.223.097-1.64.088-.2.09-2.071.477-1.551.535zm.472-.903c.46-.347 1.588.206.864-.345-.07-.062-1.586.418-.864.345zm1.674.069c.538.013-.231-.722.409-.39-.105-.343-.746-.407-1.06-.544-.176.314.36.938.65.934zm-1.38-1.52c.186-.252-.326.128 0 0zm.684.164c.866-.115-.22-.373-.174-.01zm-1.277-1c-.61-.796 1.146.134.527-.7-.522-.415-1.023.468-.527.7zm7.824 4.215c.28-.496-1.155-.668-.188-.175.09.03.07.21.188.175z"/></svg>
					</div>
					<div class="card-technologies-item django" title="Django">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Django</title><path d="M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535-4.791 0-7.288-2.166-7.288-6.32 0-4.002 2.65-6.6 6.753-6.6.637 0 1.121.05 1.707.203zm0 9.143a3.894 3.894 0 00-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365 0 2.09 1.096 3.236 3.109 3.236.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625.561-1.121.739-2.421.739-5.835V6.059h3.924zM17.39.021h3.924v4.026H17.39z"/></svg>
					</div>
					<div class="card-technologies-item celery" title="Celery">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Celery</title><path d="M2.303 0A2.298 2.298 0 0 0 0 2.303v19.394A2.298 2.298 0 0 0 2.303 24h19.394A2.298 2.298 0 0 0 24 21.697V2.303A2.298 2.298 0 0 0 21.697 0zm8.177 3.072c4.098 0 7.028 1.438 7.68 1.764l-1.194 2.55c-2.442-1.057-4.993-1.41-5.672-1.41-1.574 0-2.17.922-2.17 1.763v8.494c0 .869.596 1.791 2.17 1.791.679 0 3.23-.38 5.672-1.41l1.194 2.496c-.435.271-3.637 1.818-7.68 1.818-1.112 0-4.64-.244-4.64-4.64V7.713c0-4.397 3.528-4.64 4.64-4.64z"/></svg>
					</div>
					<div class="card-technologies-item go" title="GoLang">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Go</title><path d="M1.811 10.231c-.047 0-.058-.023-.035-.059l.246-.315c.023-.035.081-.058.128-.058h4.172c.046 0 .058.035.035.07l-.199.303c-.023.036-.082.07-.117.07zM.047 11.306c-.047 0-.059-.023-.035-.058l.245-.316c.023-.035.082-.058.129-.058h5.328c.047 0 .07.035.058.07l-.093.28c-.012.047-.058.07-.105.07zm2.828 1.075c-.047 0-.059-.035-.035-.07l.163-.292c.023-.035.07-.07.117-.07h2.337c.047 0 .07.035.07.082l-.023.28c0 .047-.047.082-.082.082zm12.129-2.36c-.736.187-1.239.327-1.963.514-.176.046-.187.058-.34-.117-.174-.199-.303-.327-.548-.444-.737-.362-1.45-.257-2.115.175-.795.514-1.204 1.274-1.192 2.22.011.935.654 1.706 1.577 1.835.795.105 1.46-.175 1.987-.77.105-.13.198-.27.315-.434H10.47c-.245 0-.304-.152-.222-.35.152-.362.432-.97.596-1.274a.315.315 0 01.292-.187h4.253c-.023.316-.023.631-.07.947a4.983 4.983 0 01-.958 2.29c-.841 1.11-1.94 1.8-3.33 1.986-1.145.152-2.209-.07-3.143-.77-.865-.655-1.356-1.52-1.484-2.595-.152-1.274.222-2.419.993-3.424.83-1.086 1.928-1.776 3.272-2.02 1.098-.2 2.15-.07 3.096.571.62.41 1.063.97 1.356 1.648.07.105.023.164-.117.2m3.868 6.461c-1.064-.024-2.034-.328-2.852-1.029a3.665 3.665 0 01-1.262-2.255c-.21-1.32.152-2.489.947-3.529.853-1.122 1.881-1.706 3.272-1.95 1.192-.21 2.314-.095 3.33.595.923.63 1.496 1.484 1.648 2.605.198 1.578-.257 2.863-1.344 3.962-.771.783-1.718 1.273-2.805 1.495-.315.06-.63.07-.934.106zm2.78-4.72c-.011-.153-.011-.27-.034-.387-.21-1.157-1.274-1.81-2.384-1.554-1.087.245-1.788.935-2.045 2.033-.21.912.234 1.835 1.075 2.21.643.28 1.285.244 1.905-.07.923-.48 1.425-1.228 1.484-2.233z"/></svg>
					</div>
					<div class="card-technologies-item vsc" title="Visual Studio Code">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Visual Studio Code</title><path d="M23.15 2.587L18.21.21a1.494 1.494 0 0 0-1.705.29l-9.46 8.63-4.12-3.128a.999.999 0 0 0-1.276.057L.327 7.261A1 1 0 0 0 .326 8.74L3.899 12 .326 15.26a1 1 0 0 0 .001 1.479L1.65 17.94a.999.999 0 0 0 1.276.057l4.12-3.128 9.46 8.63a1.492 1.492 0 0 0 1.704.29l4.942-2.377A1.5 1.5 0 0 0 24 20.06V3.939a1.5 1.5 0 0 0-.85-1.352zm-5.146 14.861L10.826 12l7.178-5.448v10.896z"/></svg>
					</div>
					<div class="card-technologies-item git" title="Git">
						<svg class="card-technologies-item-icon" role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><title>Git</title><path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/></svg>
					</div>
				</div>
				<img class="card-technologies-background lazy-image" height="1" width="1" src="/public/assets/images/tech-bg-short.png" alt="Background of the card showing some of the technologies I use daily" />
			</div>
			<div class="card-definition">
				<h1 class="card-definition-word"><span class="card-definition-word-emphasis">0z</span>.gg</h1>
				<h4 class="card-definition-info"><span class="card-definition-info-ipa">/ˈzɪəroʊ zi dɒt dʒi dʒi/</span><span class="card-definition-info-type">noun</span></h4>
				<p class="card-definition-meaning">the <span class="card-definition-meaning-emphasis">first</span> (0) and <span class="card-definition-meaning-emphasis">last</span> (Z) characters of the alphanumericals (0-9 and A-Z), aprapos to a <span class="card-definition-meaning-emphasis">full stack</span> of characters</p>
					<!-- <li>base of operations for Zachary Rosca-Halmagean</li> -->
					<!-- <p class="card-definition-meaning">A <span class="card-definition-meaning-emphasis">full stack</span> of characters, including <span class="card-definition-meaning-emphasis">front-end</span>, <span class="card-definition-meaning-emphasis">back-end</span>, and <span class="card-definition-meaning-emphasis">dev-ops</span> development.</p> -->
				<p class="card-definition-sentence">"zac's skillset covers everything from 0 to Z, so it makes sense that his personal website is https://0z.gg"</p>
				<img class="card-definition-background lazy-image" height="1" width="1" src="/public/assets/images/definition-background-long.png" alt="Background of the card showing the definition of 0z.gg" />
			</div>
			<div class="card-talk">
				<h1 class="card-talk-title">Let's <span class="card-talk-title-emphasis">talk</span></h1>
				<p class="card-talk-description">Feel free to shoot me a message; I'll get back to the non-spam.</p>
				<a class="card-talk-email" href="mailto:hi@0z.gg" aria-label="Email me!">
					<div class="card-talk-email-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
					</div>
					<div class="card-talk-email-text">hey@0z.gg</div>
				</a>
				<!-- <p class="card-talk-description">I'm always looking for new opportunities to work with new people. If you have a project you'd like to discuss, or just want to say hi, feel free to reach out!</p> -->
			</div>
		</div>
		
		<!-- <p class="instructions">
			<h1>Welcome to <span class="text-gradient">Astro</span></h1>
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p> -->
	</main>
	<!-- <main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main> -->
</Layout>

<style>
	html {
		background-size: 90px 90px;
		background-image: linear-gradient(90deg,rgba(38,38,38,.3) 1px,transparent 0),linear-gradient(180deg,rgba(38,38,38,.3) 1px,transparent 0);
		--tw-bg-opacity: 1;
		background-color: rgb(23 23 23/var(--tw-bg-opacity));
		background-color: #09050f;
		--tw-text-opacity: 1;
		color: rgb(245 245 245/var(--tw-text-opacity));
		/* background: linear-gradient(180deg,#09050f 0%,#0f0705 100%); */
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 67.45rem; /* 70rem normal; 67.45rem (runs along guidelines in background) */
		color: #fff;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.header {
		align-items: center;
		display: flex;
		font-size: 1.33rem;
		justify-content: space-between;
		padding: 16px 0 26px;
	}
	.header-left {
		display: flex;
	}
	.header-left-role {
		opacity: .25;
	}
	.card-grid {
		/* display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0; */
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(12,1fr);
	}
	.card-hello {
		background: #131311;
		background-size: cover;
    	padding: 51px 58px;
		border-radius: 25px 50px 5px;
		grid-column: 1/9;
	}
	.card-hello:before {
		background: linear-gradient(18.48deg,rgba(255,255,255,.25) 2.76%,rgba(255,255,255,0) 17.23%),linear-gradient(200.6deg,rgba(255,255,255,.25) 4.13%,rgba(255,255,255,0) 20.54%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
	}
	.card-grid>* {
		isolation: isolate;
		overflow: hidden;
		position: relative;
	}
	.card-hello-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 2rem;
		position: relative;
		z-index: 2;
	}
	.card-hello-header-left {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.card-hello-header-left-image {
		height: 48px;
		width: 48px;
		margin-right: 1.5rem; /* 1.25rem */
		border-radius: 50%;
		/* border: rgb(var(--accent)) 1px solid; */
	}
	.card-hello-header-left-text {
		display: flex;
		flex-direction: column;
	}
	.card-hello-header-left-text-head {
		margin: 0;
		margin-block: 0;
		margin-inline: 0;
		margin-bottom: 2px;
		font-weight: 400;
	}
	.card-hello-header-left-text-sub {
		margin: 0;
		margin-block: 0;
		margin-inline: 0;
		opacity: .32;
	}
	.card-hello-header-right {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.card-hello-header-right-social {
		align-items: center;
		background: rgba(255,255,255,.02);
		border-radius: 6px;
		color: #fff;
		display: flex;
		height: 40px;
		justify-content: center;
		position: relative;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color,.45s cubic-bezier(.6,.6,0,1) transform;
		width: 40px;
		margin-right: .65rem;
	}
	.card-hello-header-right-social:before {
		background: linear-gradient(180deg,rgba(255,255,255,.04) 0%,rgba(255,255,255,0) 100%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-hello-header-right-social:hover {
		background: rgba(255,255,255,.04);
		transform: scale(1.1);
	}
	.card-hello-header-right-social-link {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-hello-header-right-social-icon {
		color: #fff;
	}
	.card-hello-title {
		font-weight: 400;
		position: relative;
		z-index: 2;
	}
	.card-hello-desc {
		max-width: 70%;
		opacity: 0.6;
		position: relative;
		z-index: 2;
	}
	.card-location {
		/* background: #131311;
		background-size: cover;
		grid-column: 5/13;
		border-radius: 50px 25px 50px 5px; */
		background-image: url("/public/assets/images/Houston.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
    	border-radius: 50px 25px 50px 5px;
    	grid-column: 9/13;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: .5s;
	}
	.card-location::before {
		background: linear-gradient(112.59deg,rgba(255,255,255,0) 83.32%,rgba(255,255,255,.1) 94.31%),linear-gradient(109.73deg,rgba(255,255,255,.1) 7.85%,rgba(255,255,255,0) 19.46%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
	}
	.card-hello-background {
		animation: rotateCardHelloBackground 100s linear infinite;
		height: 1010px;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 1010px;
		z-index: 0;
	}
	@keyframes rotateCardHelloBackground {
		from {
			transform: translate(-50%,-50%) rotate(0deg);
		}
		to {
			transform: translate(-50%,-50%) rotate(360deg);
		}
	}
	.card-location:hover > .card-location-img {
		transform: scale(1.1) rotate(5deg);
	}
	.card-location-img {
		height: 68px;
		width: 68px;
		border-radius: 50%;
		border: rgb(var(--accent)) 2px solid;
		position: relative;
		display: inline-block;
		transition-property: transform;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-duration: .5s;
	}
	.card-status {
		position: absolute;
	}
	.card-status:before {
		content: '';
		position: absolute;
		left: calc(4.75rem / -2);
		top: calc(4.75rem / -2);
		width: 4.75rem;
		height: 4.75rem;
		border-radius: 50%;
		background: rgb(132 204 22/ 1);
		/* background: #72ff7d; */
		animation: pulse 1s cubic-bezier(0,0,.2,1) infinite;
	}
	@keyframes pulse {
		from {
			transform: scale(0.5);
			opacity: 1;
		}

		to {
			transform: scale(1.5);
			opacity: 0;
		}
		}
	.card-location-text {
		background-color: rgba(19, 19, 17, .8);
		background-color: rgb(255, 255, 255, .1);
		/* background-color: #fff; */
		border-radius: 24px;
		width: fit-content;
		padding: 5px 12px 5px 10px;
		font-size: 0.9rem;
		/* font-weight: 500; */
		/* display: flex;
		align-items: center;
		justify-content: center; */
		position: absolute;
		bottom: 11px;
		left: 50%;
		transform: translateX(-50%);
		backdrop-filter: blur(2px); /* 3px */
	}
	.card-currently {
		background: linear-gradient(129.93deg,#ff4650 0%,#f06e62 100%);
		height: 434px;
		padding: 57px 0 57px 54px;
		border-radius: 50px 5px 5px 25px;
    	grid-column: 1/6;
	}
	.card-currently-title {
		font-weight: 400;
		color: #ffffffb3;
		line-height: 1.18em;
	}
	.card-currently-title-emphasis, .card-currently-desc-emphasis {
		color: #ffffff;
	}
	.card-currently-desc {
		max-width: 70%;
		color: #ffffffb3;
		position: relative;
		z-index: 2;
	}

	.lazy-image {
		display: block;
    	transition: 1s cubic-bezier(.6,.6,0,1) opacity;
	}
	.card-currently-background {
		/* animation: rotateCardCurrentlyBackground 100s linear infinite;
		height: 1010px;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 1010px;
		z-index: 0; */
		height: auto;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.card-currently-shapes {
		height: 415.26px;
		left: 163px;
		pointer-events: none;
		position: absolute;
		top: 340px;
		width: 465.26px;
	}
	.card-currently-shape {
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		background-image: linear-gradient(225deg,rgba(255,255,255,.6) 7.37%,rgba(255,255,255,0) 95.08%);
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 40px;
		position: absolute;
		transform: rotate(-45deg);
		/* box-shadow: 0 0 30px 20px rgba(255,255,255,.1); */
		transition: .5s cubic-bezier(.6,.6,0,1) transform;
		overflow: visible;
	}
	.card-currently-shape.shape-1 {
		height: 124px;
		left: 120px;
		top: -40px;
		width: 124px;
		z-index: 1;
	}
	.card-currently-shape.shape-2 {
		height: 144px;
		left: 0;
		top: 0px;
		width: 144px;
		z-index: 1;
		background-image: none;
		transition: .5s cubic-bezier(.6,.6,0,1) background-image,.45s cubic-bezier(.6,.6,0,1) transform;
	}
	.card-currently-shape.shape-3 {
		height: 288px;
		left: 72px;
		top: 0;
		width: 288px;
		z-index: 0;
		/* transition: .45s cubic-bezier(.6,.6,0,1) transform; */
		animation: shiftInCardCurrentlyShape3 .5s cubic-bezier(.6,.6,0,1) alternate;
	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-3 {
		/* transform: translate(25px, 25px) rotate(-45deg) !important; */
		animation: shiftOutCardCurrentlyShape3 .5s cubic-bezier(.6,.6,0,1) alternate;
		left: 87px; /* 97px */
		top: 15px; /* 25px */
	}
	.card-currently-shape.shape-2 {
		overflow: hidden;
		display: block;
		position: relative;
	}
	.card-currently-shape.shape-2:before {
		border-radius: inherit;
		display: block;
		width: 110%;
		height: 110%;
		content: '';
			position: absolute;
			top: 0; 
			left: 0;
		background: linear-gradient(225deg,rgba(255,255,255,.9) 7.37%,rgba(255,255,255,0) 95.08%);
		/* background: linear-gradient(135deg, #21d4fd 25%, #b721ff 75%);	 */
		transition: .45s cubic-bezier(.6,.6,0,1) opacity;
		/* transition: all 0.5s; */
		/* transform: rotate(-45deg); */
		/* backdrop-filter: blur(2px); */
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		z-index: 0;
		opacity: .6;
	}
	.card-currently-shape.shape-2:after {
		/* border-radius: 9px;
		display: block;
		width: 108px;
		height: 108px;
		margin: 6px;
		background: url('https://i.imgur.com/w0BjFgr.png');
		background-size: cover;
		content: '';
		position: absolute;
		top: 0; left: 0;
		z-index: 1; */
		height: 65%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		margin: auto;
		width: 65%;
		transform: rotate(45deg);
	}
	.card-currently-shape:hover:before {
		transform: translate(-25%, -25%) rotate(-180deg);

	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-2 {
		transform: scale(1.03 /* 1.05 */) rotate(-45deg) !important;
		/* background-image: linear-gradient(225deg,rgba(255,255,255,.9) 7.37%,rgba(255,255,255,2) 95.08%); */
		/* background-color: rgba(255, 255, 255, .3); */
		/* transform: translate(25%, 25%) rotate(-180deg); */
	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-2:before {
		/* transform: scale(1.1); */
		opacity: .8;
	}
	@keyframes shiftOutCardCurrentlyShape3 {
		from {
			left: 72px;
			top: 0px;
		}
		to {
			left: 87px; /* 97px */
			top: 15px; /* 25px */
		}
	}
	@keyframes shiftInCardCurrentlyShape3 {
		from {
			left: 87px; /* 97px */
			top: 15px; /* 25px */
		}
		to {
			left: 72px;
			top: 0px;
		}
	}
	.card-currently-shape-img {
		height: 65%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		margin: auto;
		width: 65%;
		transform: rotate(45deg);
	}
	.card-currently-shape-img.tp {
		height: 80%;
		width: 80%;
	}
	.card-technologies {
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: space-between; */
		padding: 49px 58px 0;
		border-radius: 5px 50px 25px 5px;
    	grid-column: 6/13;
		/* background-image: linear-gradient(225deg,rgba(255,255,255,.9) 7.37%,rgba(255,255,255,0) 95.08%); */
	}
	.card-technologies:before {
		background: linear-gradient(112.59deg,rgba(255,255,255,0) 83.32%,rgba(255,255,255,.1) 94.31%),linear-gradient(109.73deg,rgba(255,255,255,.1) 7.85%,rgba(255,255,255,0) 19.46%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
		z-index: 10;
	}
	.card-technologies-header {
		display: flex;
		flex-direction: column;
		z-index: 2;
		position: relative;
		margin-bottom: 1.5rem;
	}
	.card-technologies-title {
		font-size: 1.5rem;
		font-size: 32px;
		font-weight: 400;
		color: #ffffffb3;
		margin-bottom: 14px;
	}
	.card-technologies-desc {
		/* font-size: 1.125rem; */
		font-size: 15px;
		color: #ffffff80;
		margin-top: 0;
	}
	.card-technologies-title-emphasis {
		color: #ffffff;
	}
	.card-technologies-desc-emphasis {
		color: #ffffffc0;
	}
	.card-technologies-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		z-index: 2;
		position: relative;
	}
	.card-technologies-item {
		align-items: center;
		background: rgba(255,255,255,.02);
		border-radius: 6px;
		/* border-radius: 50%; */
		color: #fff;
		display: flex;
		height: 72px;
		justify-content: center;
		position: relative;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color,.45s cubic-bezier(.6,.6,0,1) transform;
		width: 72px;
		margin-right: 1rem; /* .65rem */
		margin-bottom: 1rem;
		flex-direction: column;
	}
	.card-technologies-item-text {
		font-size: 10px;
		margin-top: 5px;
		margin-bottom: 0;
		color: #ffffff80;
	}
	.card-technologies-item:before {
		background: linear-gradient(180deg,rgba(255,255,255,.08) 0%,rgba(255,255,255,0) 100%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color,.45s cubic-bezier(.6,.6,0,1) transform;
	}
	.card-technologies-item:hover {
		background: rgba(255,255,255,.04);
		transform: scale(0.95);
	}
	.card-technologies-item-icon {
		color: #fff;
		width: 50%;
		height: 50%;
	}
	/* .card-technologies-item.typescript > .card-technologies-item-icon {
		color: #3178C6;
	}
	.card-technologies-item.docker > .card-technologies-item-icon {
		color: #2496ED;
	}
	.card-technologies-item.nextjs > .card-technologies-item-icon {
		color: #fff;
	}
	.card-technologies-item.redis > .card-technologies-item-icon {
		color: #DC382D;
	}
	.card-technologies-item.postgresql > .card-technologies-item-icon {
		color: #336791;
	}
	.card-technologies-item.react > .card-technologies-item-icon {
		color: #61DAFB;
	}
	.card-technologies-item.nodejs > .card-technologies-item-icon {
		color: #339933;
	} */
	
	.card-technologies-background {
		animation: cardTechnologiesBackgroundOpacity 2s ease-in-out infinite;
		aspect-ratio: 1.27;
		height: 100%;
		left: 0;
		position: absolute;
		position: none;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	@keyframes cardTechnologiesBackgroundOpacity {
		0%, 100% {
			opacity: 1; /* 0.8 */
		}
		50% {
			opacity: .8; /* 0.6 */
		}
	}
	.card-definition {
		padding: 55px;
		border-radius: 25px 50px 5px 25px;
    	grid-column: 1/10;
		/* background-color: #131311; */
	}
	.card-definition:before {
		background: linear-gradient(18.48deg,rgba(255,255,255,.1) 2.76%,rgba(255,255,255,0) 17.23%),linear-gradient(200.6deg,rgba(255,255,255,.1) 4.13%,rgba(255,255,255,0) 20.54%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
	}
	.card-definition-word {
		font-weight: 400;
		margin-bottom: 0.5rem;
		color: #ffffffb3;
		/* font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace; */
	}
	.card-definition-word-emphasis {
		color: #ffffff;
	}
	.card-definition-info {
		color: rgb(var(--accent));
		font-size: 0.875rem;
		/* font-weight: 600; */
		margin-bottom: 0.5rem;
		font-weight: 400;
	}
	.card-definition-info-type:before {
		content: "•";
		/* color: #ffffff80; */
		margin: 0 0.4rem;
	}
	.card-definition-info-type {
		font-style: italic;
	}
	.card-definition-meaning {
		/* font-size: 1.25rem; */
		font-weight: 400;
		/* line-height: 1.6; */
		color: #ffffffb3;
		/* padding-left: 0; */
	}
	.card-definition-meaning-emphasis {
		color: #ffffff;
	}
	.card-definition-sentence {
		font-size: 1rem;
		font-weight: 400;
		/* line-height: 1.6; */
		color: #ffffff40;
	}
	.card-definition-background {
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.8;
		animation: rotateDefinitionCardBackground 5s ease-in-out infinite;
	}
	@keyframes rotateDefinitionCardBackground {
		0, 100% {
			transform: scale(1) translateX(0px);
		}
		50% {
			transform: scale(1.3) translateX(-80px);
		}
	}
	.card-talk {
		background: linear-gradient(311.97deg, #da62c4 0%, rgb(var(--accent)) 100%);
		background-size: 180%;
		background-position: 0%;
		border-radius: 50px 25px 50px 5px;
		grid-column: 10/13;
		padding: 38px;
	}
	.card-talk-title {
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 0.5rem;
		/* color: #ffffffb3; */
		font-weight: 400;
	}
	.card-talk-title-emphasis {
		color: #ffffff;
	}
	.card-talk-description {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.6;
		margin-bottom: 0.5rem;
		color: #ffffffb3;
		margin-bottom: 2rem;
	}
	.card-talk-email {
		/* background: rgba(255,255,255,.03);
		border: 1px solid rgba(255,255,255,.1);
		border-radius: 5px;
		width: -moz-max-content;
		width: max-content;
		color: #ffffffb3;
		align-items: center;
		display: flex;
		height: 70px;
		justify-content: center;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color;
		padding: 0 1rem;
		font-size: 1.5rem;
		text-decoration: none; */
		background: rgba(255,255,255,.03);
		border: 1px solid rgba(255,255,255,.1);
		border-radius: 5px;
		width: -moz-max-content;
		width: max-content;
		font-size: 1.1rem;
		text-decoration: none;
		color: #ffffff;
		display: flex;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color;
	}
	.card-talk-email-icon {
		border-right: 1px solid rgba(255,255,255,.15);
	}
	.card-talk-email-icon svg {
		width: 1.25rem;
		height: 1.25rem;
	}
	.card-talk-email-icon, .card-talk-email-text {
		display: flex;
		align-items: center;
		height: 60px;
		justify-content: center;
		padding: 0 1.25rem;
	}
	.card-talk-email-text {
		color: #ffffffb3;
		transition: .45s cubic-bezier(.6,.6,0,1) color;
	}
	.card-talk-email-emphasis {
		color: #ffffff;
	}
	.card-talk-email:hover {
		background: rgba(255,255,255,.1);
	}
	.card-talk-email:hover > .card-talk-email-text {
		color: #ffffff;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
