---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="header">
			<div class="header-left">
				<p class="header-left-title">Zac<span class="header-left-role">, 0z.gg</span></p>
			</div>
		</div>
		<div class="card-grid">
			<div class="card-hello">
				<img src="/public/assets/images/home-background-shortish.png" alt="Hello" class="card-hello-background" />
				<div class="card-hello-header">
					<div class="card-hello-header-left">
						<img class="card-hello-header-left-image" src="https://avatars.githubusercontent.com/u/70297870?v=4" alt="Zac" />
						<div class="card-hello-header-left-text">
							<h3 class="card-hello-header-left-text-head">Hey, I'm <span class="text-gradient">Zac</span></h3>
							<p class="card-hello-header-left-text-sub">Full Stack Developer</p>
						</div>
					</div>
					<div class="card-hello-header-right">
						<a class="card-hello-header-right-social github" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer">
							<!-- <a class="card-hello-header-right-social-link" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer"> -->
								<!-- <svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg> -->
								<svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><g data-name="Layer 2"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M12 1A10.89 10.89 0 0 0 1 11.77 10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77 10.89 10.89 0 0 0 12 1" data-name="github"/></g></svg>
							<!-- </a> -->
						</a>
						<a class="card-hello-header-right-social linkedin" href="https://linkedin.com/in/zachary-rosca-halmagean" target="_blank" rel="noopener noreferrer">
							<!-- <a class="card-hello-header-right-social-link" href="https://github.com/zacrh" target="_blank" rel="noopener noreferrer"> -->
								<!-- <svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg> -->
								<svg class="card-hello-header-right-social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><g data-name="Layer 2"><g data-name="linkedin"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M15.15 8.4a5.83 5.83 0 0 0-5.85 5.82v5.88a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a1.94 1.94 0 0 1 2.15-1.93 2 2 0 0 1 1.75 2v5.81a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a5.83 5.83 0 0 0-5.85-5.82z"/><rect x="3" y="9.3" width="4.5" height="11.7" rx=".9" ry=".9"/><circle cx="5.25" cy="5.25" r="2.25"/></g></g></svg>
							<!-- </a> -->
						</a>
					</div>
				</div>
				<h1 class="card-hello-title">Infrastructure & Data <span class="text-gradient">Enthusiast</span></h1>
				<!-- <h1 class="card-hello-title">Passionate About <span class="text-gradient">Infrastructure</span></h1> -->
				<p class="card-hello-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="card-location">
				<div class="card-status" />
				<img class="card-location-img" src="https://avatars.githubusercontent.com/u/70297870?v=4" alt="Picture of me on a map of my general location" />
				<p class="card-location-text">📍 Houston, TX</p>
			</div>
			<div class="card-currently">
				<h1 class="card-currently-title">Currently, I'm working on <br /><span class="card-currently-title-emphasis">Veer</span></h1>
				<p class="card-currently-desc">Leveraging <span class="card-currently-desc-emphasis">esports</span> to build perfomant & scalable applications used by {/* empowering/and empower (instead of 'used by') */} <span class="card-currently-desc-emphasis">hundreds of thousands of gamers</span>.</p>
				<img class="card-currently-background lazy-image" height="1" width="1" src="/public/assets/images/currently-card-background.png" alt="Glare over the card explaining what I'm currently working on" />
				<div class="card-currently-shapes">
					<div class="card-currently-shape shape-1">
						<img height="1" width="1" class="card-currently-shape-img tp" src="https://i.imgur.com/L444V1h.png" alt="Twitch Payouts Logo" />
					</div>
					<div class="card-currently-shape shape-2">
						<svg class="card-currently-shape-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.37 189.2" ><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M15.71,125.15c-1.33-9.63-2.68-19.13-4-28.64C7.9,67.84,4.11,39.16.21,10.49-.77,3.31,1.65.25,9,.15Q17.76,0,26.49.15c6.94.1,11.36,4,12.06,10.73Q43.05,54,47.39,97.25c.13,1.27.3,3-.38,3.81-8,9.89-16.18,19.51-28.81,23.74A13.54,13.54,0,0,1,15.71,125.15Z"/><path class="cls-1" d="M82.32,128.26c-1.45,11-2.75,21.2-4.11,31.35-.82,6.1-1.59,12.22-2.61,18.29-1.28,7.64-5.61,11.21-13.41,11.26q-13,.08-26,0c-7.92-.06-12.53-4.35-13.57-12.27-1.4-10.68-2.88-21.36-4.38-32.42C41.59,146.7,62.48,141.21,82.32,128.26Z"/><path class="cls-2" d="M55.28,88.71c1.27-12.88,2.51-25.76,3.8-38.64,1.2-11.93,2.58-23.85,3.61-35.8C63.44,5.56,66.5-.82,77.74.09c4,.32,8-.06,12,.11,6.47.28,9.31,3.73,8.49,10.17a15.08,15.08,0,0,1-1.14,4.31C85.33,40.45,72.22,65.46,55.28,88.71Z"/></g></g></svg>
					</div>
					<div class="card-currently-shape shape-3" />
				</div>
			</div>
		</div>
		
		<!-- <p class="instructions">
			<h1>Welcome to <span class="text-gradient">Astro</span></h1>
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p> -->
	</main>
	<!-- <main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main> -->
</Layout>

<style>
	html {
		background-size: 90px 90px;
		background-image: linear-gradient(90deg,rgba(38,38,38,.3) 1px,transparent 0),linear-gradient(180deg,rgba(38,38,38,.3) 1px,transparent 0);
		--tw-bg-opacity: 1;
		background-color: rgb(23 23 23/var(--tw-bg-opacity));
		background-color: #09050f;
		--tw-text-opacity: 1;
		color: rgb(245 245 245/var(--tw-text-opacity));
		/* background: linear-gradient(180deg,#09050f 0%,#0f0705 100%); */
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 67.45rem; /* 70rem normal; 67.45rem (runs along guidelines in background) */
		color: #fff;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.header {
		align-items: center;
		display: flex;
		font-size: 1.33rem;
		justify-content: space-between;
		padding: 16px 0 26px;
	}
	.header-left {
		display: flex;
	}
	.header-left-role {
		opacity: .25;
	}
	.card-grid {
		/* display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0; */
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(12,1fr);
	}
	.card-hello {
		background: #131311;
		background-size: cover;
    	padding: 51px 58px;
		border-radius: 25px 50px 5px;
		grid-column: 1/9;
	}
	.card-hello:before {
		background: linear-gradient(18.48deg,rgba(255,255,255,.25) 2.76%,rgba(255,255,255,0) 17.23%),linear-gradient(200.6deg,rgba(255,255,255,.25) 4.13%,rgba(255,255,255,0) 20.54%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
	}
	.card-grid>* {
		isolation: isolate;
		overflow: hidden;
		position: relative;
	}
	.card-hello-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 2rem;
		position: relative;
		z-index: 2;
	}
	.card-hello-header-left {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.card-hello-header-left-image {
		height: 48px;
		width: 48px;
		margin-right: 1.5rem; /* 1.25rem */
		border-radius: 50%;
		/* border: rgb(var(--accent)) 1px solid; */
	}
	.card-hello-header-left-text {
		display: flex;
		flex-direction: column;
	}
	.card-hello-header-left-text-head {
		margin: 0;
		margin-block: 0;
		margin-inline: 0;
		margin-bottom: 2px;
		font-weight: 400;
	}
	.card-hello-header-left-text-sub {
		margin: 0;
		margin-block: 0;
		margin-inline: 0;
		opacity: .32;
	}
	.card-hello-header-right {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.card-hello-header-right-social {
		align-items: center;
		background: rgba(255,255,255,.02);
		border-radius: 6px;
		color: #fff;
		display: flex;
		height: 40px;
		justify-content: center;
		position: relative;
		transition: .45s cubic-bezier(.6,.6,0,1) background-color,.45s cubic-bezier(.6,.6,0,1) transform;
		width: 40px;
		margin-right: .65rem;
	}
	.card-hello-header-right-social:before {
		background: linear-gradient(180deg,rgba(255,255,255,.04) 0%,rgba(255,255,255,0) 100%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-hello-header-right-social:hover {
		background: rgba(255,255,255,.04);
		transform: scale(1.1);
	}
	.card-hello-header-right-social-link {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-hello-header-right-social-icon {
		color: #fff;
	}
	.card-hello-title {
		font-weight: 400;
		position: relative;
		z-index: 2;
	}
	.card-hello-desc {
		max-width: 70%;
		opacity: 0.6;
		position: relative;
		z-index: 2;
	}
	.card-location {
		/* background: #131311;
		background-size: cover;
		grid-column: 5/13;
		border-radius: 50px 25px 50px 5px; */
		background-image: url("/public/assets/images/Houston.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
    	border-radius: 50px 25px 50px 5px;
    	grid-column: 9/13;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: .5s;
	}
	.card-location::before {
		background: linear-gradient(112.59deg,rgba(255,255,255,0) 83.32%,rgba(255,255,255,.1) 94.31%),linear-gradient(109.73deg,rgba(255,255,255,.1) 7.85%,rgba(255,255,255,0) 19.46%);
		border-radius: inherit;
		content: "";
		inset: 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		pointer-events: none;
		position: absolute;
	}
	.card-hello-background {
		animation: rotateCardHelloBackground 100s linear infinite;
		height: 1010px;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 1010px;
		z-index: 0;
	}
	@keyframes rotateCardHelloBackground {
		from {
			transform: translate(-50%,-50%) rotate(0deg);
		}
		to {
			transform: translate(-50%,-50%) rotate(360deg);
		}
	}
	.card-location:hover > .card-location-img {
		transform: scale(1.1) rotate(5deg);
	}
	.card-location-img {
		height: 68px;
		width: 68px;
		border-radius: 50%;
		border: rgb(var(--accent)) 2px solid;
		position: relative;
		display: inline-block;
		transition-property: transform;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-duration: .5s;
	}
	.card-status {
		position: absolute;
	}
	.card-status:before {
		content: '';
		position: absolute;
		left: calc(4.75rem / -2);
		top: calc(4.75rem / -2);
		width: 4.75rem;
		height: 4.75rem;
		border-radius: 50%;
		background: rgb(132 204 22/ 1);
		/* background: #72ff7d; */
		animation: pulse 1s cubic-bezier(0,0,.2,1) infinite;
	}
	@keyframes pulse {
		from {
			transform: scale(0.5);
			opacity: 1;
		}

		to {
			transform: scale(1.5);
			opacity: 0;
		}
		}
	.card-location-text {
		background-color: rgba(19, 19, 17, .8);
		background-color: rgb(255, 255, 255, .1);
		/* background-color: #fff; */
		border-radius: 24px;
		width: fit-content;
		padding: 5px 12px 5px 10px;
		font-size: 0.9rem;
		/* font-weight: 500; */
		/* display: flex;
		align-items: center;
		justify-content: center; */
		position: absolute;
		bottom: 11px;
		left: 50%;
		transform: translateX(-50%);
		backdrop-filter: blur(2px); /* 3px */
	}
	.card-currently {
		background: linear-gradient(129.93deg,#ff4650 0%,#f06e62 100%);
		height: 434px;
		padding: 57px 0 57px 54px;
		border-radius: 50px 5px 5px 25px;
    	grid-column: 1/6;
	}
	.card-currently-title {
		font-weight: 400;
		color: #ffffffb3;
		line-height: 1.18em;
	}
	.card-currently-title-emphasis, .card-currently-desc-emphasis {
		color: #ffffff;
	}
	.card-currently-desc {
		max-width: 70%;
		color: #ffffffb3;
		position: relative;
		z-index: 2;
	}

	.lazy-image {
		display: block;
    	transition: 1s cubic-bezier(.6,.6,0,1) opacity;
	}
	.card-currently-background {
		/* animation: rotateCardCurrentlyBackground 100s linear infinite;
		height: 1010px;
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 1010px;
		z-index: 0; */
		height: auto;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.card-currently-shapes {
		height: 415.26px;
		left: 163px;
		pointer-events: none;
		position: absolute;
		top: 340px;
		width: 465.26px;
	}
	.card-currently-shape {
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		background-image: linear-gradient(225deg,rgba(255,255,255,.6) 7.37%,rgba(255,255,255,0) 95.08%);
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 40px;
		position: absolute;
		transform: rotate(-45deg);
		/* box-shadow: 0 0 30px 20px rgba(255,255,255,.1); */
		transition: .45s cubic-bezier(.6,.6,0,1) transform;
		overflow: visible;
	}
	.card-currently-shape.shape-1 {
		height: 124px;
		left: 120px;
		top: -40px;
		width: 124px;
		z-index: 1;
	}
	.card-currently-shape.shape-2 {
		height: 144px;
		left: 0;
		top: 0px;
		width: 144px;
		z-index: 1;
		background-image: none;
		transition: .45s cubic-bezier(.6,.6,0,1) background-image,.45s cubic-bezier(.6,.6,0,1) transform;
	}
	.card-currently-shape.shape-3 {
		height: 288px;
		left: 72px;
		top: 0;
		width: 288px;
		z-index: 0;
		/* transition: .45s cubic-bezier(.6,.6,0,1) transform; */
		animation: shiftInCardCurrentlyShape3 .45s cubic-bezier(.6,.6,0,1) alternate;
	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-3 {
		/* transform: translate(25px, 25px) rotate(-45deg) !important; */
		animation: shiftOutCardCurrentlyShape3 .45s cubic-bezier(.6,.6,0,1) alternate;
		left: 97px;
		top: 25px;
	}
	.card-currently-shape.shape-2 {
		overflow: hidden;
		display: block;
		position: relative;
	}
	.card-currently-shape.shape-2:before {
		border-radius: inherit;
		display: block;
		width: 110%;
		height: 110%;
		content: '';
			position: absolute;
			top: 0; 
			left: 0;
		background: linear-gradient(225deg,rgba(255,255,255,.9) 7.37%,rgba(255,255,255,0) 95.08%);
		/* background: linear-gradient(135deg, #21d4fd 25%, #b721ff 75%);	 */
		transition: .45s cubic-bezier(.6,.6,0,1) opacity;
		/* transition: all 0.5s; */
		/* transform: rotate(-45deg); */
		/* backdrop-filter: blur(2px); */
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		z-index: 0;
		opacity: .6;
	}
	.card-currently-shape.shape-2:after {
		/* border-radius: 9px;
		display: block;
		width: 108px;
		height: 108px;
		margin: 6px;
		background: url('https://i.imgur.com/w0BjFgr.png');
		background-size: cover;
		content: '';
		position: absolute;
		top: 0; left: 0;
		z-index: 1; */
		height: 65%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		margin: auto;
		width: 65%;
		transform: rotate(45deg);
	}
	.card-currently-shape:hover:before {
		transform: translate(-25%, -25%) rotate(-180deg);

	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-2 {
		transform: scale(1.05) rotate(-45deg) !important;
		/* background-image: linear-gradient(225deg,rgba(255,255,255,.9) 7.37%,rgba(255,255,255,2) 95.08%); */
		/* background-color: rgba(255, 255, 255, .3); */
		/* transform: translate(25%, 25%) rotate(-180deg); */
	}
	.card-currently:hover > .card-currently-shapes > .card-currently-shape.shape-2:before {
		/* transform: scale(1.1); */
		opacity: .8;
	}
	@keyframes shiftOutCardCurrentlyShape3 {
		from {
			left: 72px;
			top: 0px;
		}
		to {
			left: 97px;
			top: 25px;
		}
	}
	@keyframes shiftInCardCurrentlyShape3 {
		from {
			left: 97px;
			top: 25px;
		}
		to {
			left: 72px;
			top: 0px;
		}
	}
	.card-currently-shape-img {
		height: 65%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		margin: auto;
		width: 65%;
		transform: rotate(45deg);
	}
	.card-currently-shape-img.tp {
		height: 80%;
		width: 80%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
